		
		<div class="jumbotron">
			<div class="container">
				<h1><b>Weclome to Blockbuster 2.0!</b></h1>
				<p>Buy and stream your favorite movies all in one easy platform. <b>Forget subscriptions and memberships</b>, <a href="/register">sign up</a> or <a href="/login">login</a> for free and buy movies as often, or little as you'd like.</p>
				<p><a class="btn btn-primary btn-lg" href="/register" role="button">Sign Up!</a></p>
			  </div>
			</div>
		</div>