<%- include('../partials/_movieNav.ejs') %>
<div style="margin-left: 40%">
  <img
    style="margin: auto; height: 40vh"
    src="<%=`${baseUrl}${movie.poster_path}`%>"
  />

  <h1><%= movie.title %></h1>

  <a
    style="margin-left: 45px"
    href="/movieStock/add/<%= movie.id %>"
    role="button"
    class="btn btn-warning"
    >Add To Stock</a
  >
</div>
